.cardSnippet{
    width:100%;
    background-color:brown;
    margin:5px;
    border-radius:5px;
    padding:15px;
    color:rgba(230,230,230,1);
    cursor:pointer;
}

.cardSnippetName{
    margin-bottom:5px;
    text-decoration:underline;
}