.logo{
    margin:10px;
}

.header{
    width:100vw;
    height:50px;
    background-color:red;
    display:flex;
    justify-content: space-between;
}

.main{
    max-width:1050px;
    margin:auto;
    display:flex;
    
}